<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <%- include('../partials/navigation') %>
    </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% for (let post of posts) { %>
      <article>
        <p><%= post.added %></p>
        <p><%= post.username %></p>
        <p><%= post.text %></p>
      </article>
    <% } %>
  </body>
</html>
