<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <%- include('../partials/navigation') %>
    </header>
    <h1><%= title %></h1>
    <form action="" method="post">
      <section>
        <label for="pwmember">Password</label>
        <input type="password" name="pwmember" id="pwmember" />
      </section>
      <button type="submit">Register</button>
    </form>
    <% if (typeof errors !== "undefined") { %>
      <ul>
        <% for (let error of errors) { %>
          <li><%= error.msg %></li>
        <% } %>
      </ul>
    <% } %>
  </body>
</html>
