<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
  </head>
  <body class="container mt-2 mb-2">
    <header>
      <%- include('../partials/navigation') %>
    </header>
    <main>
      <h1><%= title %></h1>
      <form action="" method="post">
        <section class="mb-3">
          <div class="row">
            <div class="col-sm">
              <label for="firstname" class="form-label">First Name</label>
              <input
                type="text"
                name="firstname"
                id="firstname"
                class="form-control"
                placeholder="First"
              />
            </div>
            <div class="col-sm">
              <label for="lastname" class="form-label">Last Name</label>
              <input
                type="text"
                name="lastname"
                id="lastname"
                class="form-control"
                placeholder="Last"
              />
            </div>
          </div>
        </section>
        <section class="mb-3">
          <label for="uname" class="form-label">Username</label>
          <input
            type="text"
            name="uname"
            id="uname"
            class="form-control"
            placeholder="name@example.com"
          />
        </section>
        <section class="mb-3">
          <label for="pw" class="form-label">Password</label>
          <input
            type="password"
            name="pw"
            id="pw"
            class="form-control"
          />
        </section>
        <section class="mb-3">
          <label for="pwconfirm" class="form-label">Confirm Password</label>
          <input
            type="password"
            name="pwconfirm"
            id="pwconfirm"
            class="form-control"
          />
        </section>
        <section class="mb-3">
          <label for="pwadmin" class="form-label">Admin Password</label>
          <input
            type="password"
            name="pwadmin"
            id="pwadmin"
            class="form-control"
          />
        </section>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
      <% if (typeof errors !== "undefined") { %>
        <ul>
          <% for (let error of errors) { %>
            <li><%= error.msg %></li>
          <% } %>
        </ul>
      <% } %>
    </main>
  </body>
</html>
